# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

import warnings
warnings.filterwarnings('ignore')

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df =  pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
print("applicants.csv data frame head:")
display(applicant_data_df.head())

applicants.csv data frame head:

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
display(applicant_data_df.dtypes)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [4]:
# Data checkpoint
display(applicant_data_df.shape)

(34299, 12)

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
print("applicants.csv data frame head:")
display(applicant_data_df.head())

applicants.csv data frame head:

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
#applicant_data_df = applicant_data_df.drop(columns=['CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'STATUS'])
#display(applicant_data_df.head())

In [7]:
# Data checkpoint
display(applicant_data_df.shape)

(34299, 10)

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [8]:
# Create a list of categorical variables 
categorical_variables_lst = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
print("categorical_variables_lst:")
display(type(categorical_variables_lst))
display(categorical_variables_lst)

categorical_variables_lst:

list

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [10]:
# Data checkpoint
display(type(enc))

sklearn.preprocessing._encoders.OneHotEncoder

In [11]:
# Encode the categorcal variables using OneHotEncoder
encoded_data_npa = enc.fit_transform(applicant_data_df[categorical_variables_lst])

In [12]:
# Data checkpoint
display(type(encoded_data_npa))
display(len(encoded_data_npa))
display(len(encoded_data_npa[0]))
display(encoded_data_npa)

numpy.ndarray

34299

114

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [13]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns = categorical_variables_lst)

In [14]:
# Data checkpoint
print("numerical_variables_df head:")
display(numerical_variables_df.shape)
display(numerical_variables_df.head())

numerical_variables_df head:

(34299, 3)

   STATUS  ASK_AMT  IS_SUCCESSFUL
0       1     5000              1
1       1   108590              1
2       1     5000              0
3       1     6692              1
4       1   142590              1

In [15]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data_npa,
    columns = enc.get_feature_names(categorical_variables_lst)
)

# Review the DataFrame
print("encoded_df head:")
display(encoded_df.shape)
display(encoded_df.head())

encoded_df head:

(34299, 114)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [16]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)

# Review the Dataframe
print("encoded_df head:")
display(encoded_df.shape)
display(encoded_df.head())

encoded_df head:

(34299, 117)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [17]:
# Define the target set y using the IS_SUCCESSFUL column
y_srs = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
print("target set y:")
display(y_srs.shape)
display(type(y_srs))
display(y_srs)

target set y:

(34299,)

pandas.core.series.Series

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [18]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_df = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
print("X_df:")
display(X_df.shape)
display(X_df.head())

X_df:

(34299, 116)

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [19]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train_df, X_test_df, y_train_srs, y_test_srs = train_test_split(X_df, y_srs, random_state=1)

In [20]:
# Data checkpoint
display(type(X_train_df))
display(X_train_df.shape)
display(type(X_test_df))
display(X_test_df.shape)
display(type(y_train_srs))
display(y_train_srs.shape)
display(type(y_test_srs))
display(y_test_srs.shape)

pandas.core.frame.DataFrame

(25724, 116)

pandas.core.frame.DataFrame

(8575, 116)

pandas.core.series.Series

(25724,)

pandas.core.series.Series

(8575,)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [21]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train_df)

# Fit the scaler to the features training dataset
X_train_scaled_npa = X_scaler.transform(X_train_df)
X_test_scaled_npa = X_scaler.transform(X_test_df)

In [22]:
# Data checkpoint
display(type(X_train_scaled_npa))
display(X_train_scaled_npa.shape)
display(type(X_test_scaled_npa))
display(X_test_scaled_npa.shape)

numpy.ndarray

(25724, 116)

numpy.ndarray

(8575, 116)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [23]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train_df.iloc[0])

# Review the number of features
print("Number of input features = ", number_input_features)

Number of input features =  116

In [24]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [25]:
strt_num_hidden_layers = 1
end_hidden_layers = 3
inc_hidden_layers = 1

strt_hidden_layer1_num_nodes = 64
end_hidden_layer1_num_nodes = 64 # 32
inc_hidden_layer1_num_nodes = 8

strt_hidden_layer2_num_nodes = 32
end_hidden_layer2_num_nodes = 32 # 12
inc_hidden_layer2_num_nodes = 4

strt_hidden_layer3_num_nodes = 2
end_hidden_layer3_num_nodes = 2 #4
inc_hidden_layer3_num_nodes = 2

strt_num_epochs = 20 #50
end_num_epochs = 20
inc_num_epochs = 20

In [26]:
num_hidden_layers = strt_num_hidden_layers
hidden_layer1_num_nodes = strt_hidden_layer1_num_nodes
hidden_layer2_num_nodes = strt_hidden_layer2_num_nodes
hidden_layer3_num_nodes = strt_hidden_layer3_num_nodes
num_epochs = strt_num_epochs

num_hidden_layers_lst = []
num_hidden_layer1_lst = []
num_hidden_layer2_lst = []
num_hidden_layer3_lst = []
num_epochs_lst        = []

total_num_model_permutations = 0;
is_done_setting_up_model_permutations = False

print_debug = True

while (not is_done_setting_up_model_permutations):
    
    num_hidden_layers_lst.append(num_hidden_layers)
    num_hidden_layer1_lst.append(hidden_layer1_num_nodes)
    num_hidden_layer2_lst.append(hidden_layer2_num_nodes)
    num_hidden_layer3_lst.append(hidden_layer3_num_nodes)
    num_epochs_lst.append(num_epochs)

    if (print_debug):
        print(f"Setting Up Model Permuation #{total_num_model_permutations+1}") 
        print(f"\t# Hidden Layers = {num_hidden_layers}")
        print(f"\t\t# Hidden Layer 1 Nodes = {hidden_layer1_num_nodes}")
        if (num_hidden_layers > 1):
            print(f"\t\t# Hidden Layer 2 Nodes = {hidden_layer2_num_nodes}")
        if (num_hidden_layers > 2):
            print(f"\t\t# Hidden Layer 3 Nodes = {hidden_layer3_num_nodes}")
        print(f"\t# Epochs = {num_epochs}")

    if (num_epochs < end_num_epochs): 
        num_epochs = num_epochs + inc_num_epochs 
    else:
        num_epochs = strt_num_epochs
        
        if ((num_hidden_layers > 2) and (hidden_layer3_num_nodes < end_hidden_layer3_num_nodes)): 
            hidden_layer3_num_nodes = hidden_layer3_num_nodes + inc_hidden_layer3_num_nodes
        else:
            hidden_layer3_num_nodes = strt_hidden_layer3_num_nodes

            if ((num_hidden_layers > 1) and (hidden_layer2_num_nodes < end_hidden_layer2_num_nodes)): 
                hidden_layer2_num_nodes = hidden_layer2_num_nodes + inc_hidden_layer2_num_nodes
            else:
                hidden_layer2_num_nodes = strt_hidden_layer2_num_nodes

                if (hidden_layer1_num_nodes < end_hidden_layer1_num_nodes): 
                    hidden_layer1_num_nodes = hidden_layer1_num_nodes + inc_hidden_layer1_num_nodes
                else:
                    hidden_layer1_num_nodes = strt_hidden_layer1_num_nodes

                    if (num_hidden_layers < end_hidden_layers): 
                        num_hidden_layers = num_hidden_layers + inc_hidden_layers
                    else:
                        is_done_setting_up_model_permutations = True
    total_num_model_permutations = total_num_model_permutations + 1

Setting Up Model Permuation #1
	# Hidden Layers = 1
		# Hidden Layer 1 Nodes = 64
	# Epochs = 20
Setting Up Model Permuation #2
	# Hidden Layers = 2
		# Hidden Layer 1 Nodes = 64
		# Hidden Layer 2 Nodes = 32
	# Epochs = 20
Setting Up Model Permuation #3
	# Hidden Layers = 3
		# Hidden Layer 1 Nodes = 64
		# Hidden Layer 2 Nodes = 32
		# Hidden Layer 3 Nodes = 2
	# Epochs = 20

In [27]:
print_debug = True
model_verbose = False

nn_model_npa = np.empty(total_num_model_permutations,  dtype=np.object)

for x in range(total_num_model_permutations):

    if (print_debug):
        print(f"Setting Up Model Permuation #{x+1}") 
        print(f"\t# Hidden Layers = {num_hidden_layers_lst[x]}")
        print(f"\t# Layer 1 Nodes = {num_hidden_layer1_lst[x]}")
        if (num_hidden_layers_lst[x] > 1):
            print(f"\t# Layer 2 Nodes = {num_hidden_layer2_lst[x]}")
        if (num_hidden_layers_lst[x] > 2):
            print(f"\t# Layer 3 Nodes = {num_hidden_layer3_lst[x]}")
        print(f"\t# Epochs = {num_epochs_lst[x]}")
       
    # Create the Sequential model instance
    nn_model_npa[x] = Sequential()

    # Add the first hidden layer
    nn_model_npa[x].add(Dense(units=num_hidden_layer1_lst[x], input_dim=number_input_features, activation="relu"))

    # If exist in this model permutation, add the second hidden layer
    if (num_hidden_layers_lst[x] > 1):
        nn_model_npa[x].add(Dense(units=num_hidden_layer2_lst[x], activation="relu"))
        
    # If exist in this model permutation, add the third hidden layer
    if (num_hidden_layers_lst[x] > 2):
        nn_model_npa[x].add(Dense(units=num_hidden_layer3_lst[x], activation="relu"))         
        
    # Add the output layer to the model specifying the number of output neurons and activation function
    nn_model_npa[x].add(Dense(units=number_output_neurons, activation="sigmoid"))
    
    # Display the Sequential model summary
    #nn_model_npa[x].summary()

    # Compile the Sequential model
    nn_model_npa[x].compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    # Fit the model using 50 epochs and the training data
    fit_model = nn_model_npa[x].fit(X_train_scaled_npa, y_train_srs, epochs=num_epochs_lst[x], verbose=1) 
    
    # Evaluate the model loss and accuracy metrics using the evaluate method and the test data
    model_loss, model_accuracy =  nn_model_npa[x].evaluate(X_test_scaled_npa,y_test_srs,verbose=0)

    # Display the model loss and accuracy results
    if (print_debug):
        print(f"\t\t\t*** Loss: {model_loss}, Accuracy: {model_accuracy} ***")

Setting Up Model Permuation #1
	# Hidden Layers = 1
	# Layer 1 Nodes = 64
	# Epochs = 20
Epoch 1/20
804/804 [==============================] - 1s 658us/step - loss: 0.5861 - accuracy: 0.7128
Epoch 2/20
804/804 [==============================] - 1s 691us/step - loss: 0.5576 - accuracy: 0.7278
Epoch 3/20
804/804 [==============================] - 1s 683us/step - loss: 0.5549 - accuracy: 0.7298
Epoch 4/20
804/804 [==============================] - 1s 692us/step - loss: 0.5519 - accuracy: 0.7291
Epoch 5/20
804/804 [==============================] - 1s 645us/step - loss: 0.5502 - accuracy: 0.7315
Epoch 6/20
804/804 [==============================] - 1s 699us/step - loss: 0.5485 - accuracy: 0.7314
Epoch 7/20
804/804 [==============================] - 1s 680us/step - loss: 0.5486 - accuracy: 0.7306
Epoch 8/20
804/804 [==============================] - 1s 683us/step - loss: 0.5475 - accuracy: 0.7308
Epoch 9/20
804/804 [==============================] - 1s 681us/step - loss: 0.5467 - accuracy: 0.7327
Epoch 10/20
804/804 [==============================] - 1s 688us/step - loss: 0.5470 - accuracy: 0.7320
Epoch 11/20
804/804 [==============================] - 1s 683us/step - loss: 0.5458 - accuracy: 0.7336
Epoch 12/20
804/804 [==============================] - 1s 691us/step - loss: 0.5453 - accuracy: 0.7336
Epoch 13/20
804/804 [==============================] - 1s 643us/step - loss: 0.5454 - accuracy: 0.7327
Epoch 14/20
804/804 [==============================] - 1s 650us/step - loss: 0.5449 - accuracy: 0.7337
Epoch 15/20
804/804 [==============================] - 1s 648us/step - loss: 0.5444 - accuracy: 0.7336
Epoch 16/20
804/804 [==============================] - 1s 642us/step - loss: 0.5438 - accuracy: 0.7334
Epoch 17/20
804/804 [==============================] - 1s 684us/step - loss: 0.5439 - accuracy: 0.7338
Epoch 18/20
804/804 [==============================] - 1s 682us/step - loss: 0.5430 - accuracy: 0.7340
Epoch 19/20
804/804 [==============================] - 1s 683us/step - loss: 0.5431 - accuracy: 0.7346
Epoch 20/20
804/804 [==============================] - 1s 646us/step - loss: 0.5429 - accuracy: 0.7343
			*** Loss: 0.5533736348152161, Accuracy: 0.7325947284698486 ***
Setting Up Model Permuation #2
	# Hidden Layers = 2
	# Layer 1 Nodes = 64
	# Layer 2 Nodes = 32
	# Epochs = 20
Epoch 1/20
804/804 [==============================] - 1s 682us/step - loss: 0.5755 - accuracy: 0.7199
Epoch 2/20
804/804 [==============================] - 1s 678us/step - loss: 0.5545 - accuracy: 0.7283
Epoch 3/20
804/804 [==============================] - 1s 681us/step - loss: 0.5510 - accuracy: 0.7296
Epoch 4/20
804/804 [==============================] - 1s 688us/step - loss: 0.5483 - accuracy: 0.7311
Epoch 5/20
804/804 [==============================] - 1s 689us/step - loss: 0.5466 - accuracy: 0.7337
Epoch 6/20
804/804 [==============================] - 1s 700us/step - loss: 0.5455 - accuracy: 0.7331
Epoch 7/20
804/804 [==============================] - 1s 677us/step - loss: 0.5442 - accuracy: 0.7331
Epoch 8/20
804/804 [==============================] - 1s 678us/step - loss: 0.5435 - accuracy: 0.7336
Epoch 9/20
804/804 [==============================] - 1s 694us/step - loss: 0.5428 - accuracy: 0.7349
Epoch 10/20
804/804 [==============================] - 1s 688us/step - loss: 0.5418 - accuracy: 0.7350
Epoch 11/20
804/804 [==============================] - 1s 691us/step - loss: 0.5416 - accuracy: 0.7359
Epoch 12/20
804/804 [==============================] - 1s 689us/step - loss: 0.5411 - accuracy: 0.7350
Epoch 13/20
804/804 [==============================] - 1s 691us/step - loss: 0.5402 - accuracy: 0.7361
Epoch 14/20
804/804 [==============================] - 1s 690us/step - loss: 0.5394 - accuracy: 0.7360
Epoch 15/20
804/804 [==============================] - 1s 707us/step - loss: 0.5393 - accuracy: 0.7364
Epoch 16/20
804/804 [==============================] - 1s 691us/step - loss: 0.5393 - accuracy: 0.7372
Epoch 17/20
804/804 [==============================] - 1s 709us/step - loss: 0.5387 - accuracy: 0.7381
Epoch 18/20
804/804 [==============================] - 1s 723us/step - loss: 0.5383 - accuracy: 0.7378
Epoch 19/20
804/804 [==============================] - 1s 718us/step - loss: 0.5379 - accuracy: 0.7374
Epoch 20/20
804/804 [==============================] - 1s 700us/step - loss: 0.5378 - accuracy: 0.7379
			*** Loss: 0.5607364773750305, Accuracy: 0.7261807322502136 ***
Setting Up Model Permuation #3
	# Hidden Layers = 3
	# Layer 1 Nodes = 64
	# Layer 2 Nodes = 32
	# Layer 3 Nodes = 2
	# Epochs = 20
Epoch 1/20
804/804 [==============================] - 1s 743us/step - loss: 0.6127 - accuracy: 0.7057
Epoch 2/20
804/804 [==============================] - 1s 740us/step - loss: 0.5725 - accuracy: 0.7260
Epoch 3/20
804/804 [==============================] - 1s 729us/step - loss: 0.5623 - accuracy: 0.7294
Epoch 4/20
804/804 [==============================] - 1s 725us/step - loss: 0.5596 - accuracy: 0.7310
Epoch 5/20
804/804 [==============================] - 1s 730us/step - loss: 0.5580 - accuracy: 0.7313
Epoch 6/20
804/804 [==============================] - 1s 724us/step - loss: 0.5564 - accuracy: 0.7325
Epoch 7/20
804/804 [==============================] - 1s 756us/step - loss: 0.5546 - accuracy: 0.7330
Epoch 8/20
804/804 [==============================] - 1s 727us/step - loss: 0.5532 - accuracy: 0.7331
Epoch 9/20
804/804 [==============================] - 1s 718us/step - loss: 0.5523 - accuracy: 0.7347
Epoch 10/20
804/804 [==============================] - 1s 728us/step - loss: 0.5518 - accuracy: 0.7349
Epoch 11/20
804/804 [==============================] - 1s 730us/step - loss: 0.5514 - accuracy: 0.7346
Epoch 12/20
804/804 [==============================] - 1s 730us/step - loss: 0.5511 - accuracy: 0.7357
Epoch 13/20
804/804 [==============================] - 1s 717us/step - loss: 0.5497 - accuracy: 0.7356
Epoch 14/20
804/804 [==============================] - 1s 717us/step - loss: 0.5497 - accuracy: 0.7342
Epoch 15/20
804/804 [==============================] - 1s 719us/step - loss: 0.5492 - accuracy: 0.7352
Epoch 16/20
804/804 [==============================] - 1s 715us/step - loss: 0.5484 - accuracy: 0.7358
Epoch 17/20
804/804 [==============================] - 1s 709us/step - loss: 0.5481 - accuracy: 0.7357
Epoch 18/20
804/804 [==============================] - 1s 709us/step - loss: 0.5480 - accuracy: 0.7372
Epoch 19/20
804/804 [==============================] - 1s 713us/step - loss: 0.5477 - accuracy: 0.7360
Epoch 20/20
804/804 [==============================] - 1s 744us/step - loss: 0.5477 - accuracy: 0.7362
			*** Loss: 0.5568227767944336, Accuracy: 0.7218658924102783 ***